.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    flex-direction: column;
    margin: 80px 170px;
}
.about-title{
    position: relative;

}
.about-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.about-title h1:hover{
  border-bottom: 10px;
    font-size: 65px;   
}
.about-sections{
    display: flex;
    gap:80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap:80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap:50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline:3px solid #DF8908;
    border:none;
width: 50%;
height: 8px;
border-radius: 50px;
background:linear-gradient(264deg,#DF8908 -5.09%,#c770f0 106.28%);
}

.about-achievements{
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achivement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}
.about-achivement h1{
    font-size: 60px;
    font-weight: 700;
    background:linear-gradient(264deg,#DF8908 -5.09%,#c770f0 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achivement img{
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid ;
}
.about-achivement img:hover{
    width:100px;
    height: 100px;
    box-shadow: 0 0 10px 10px;
    border-radius: 100px;
    border: 5px solid ;
}
.about-left img{
    width:500px;
    height:500px;
    background-color: #c770f0;
    border-radius: 1000px;
    border:5px solid #DF8908;
}


@media screen and (max-width: 720px) {
    .about-skill hr{
        outline:3px solid #DF8908;
    border:none;
    width: 50%;
    height: 10px;
    border-radius: 50px;
    background:linear-gradient(264deg,#DF8908 -5.09%,#c770f0 106.28%);
    }
    
    .about-left img{
        width:300px;
        height:300px;
        background-color: #c770f0;
        border-radius: 1000px;
        border:5px solid #DF8908;
    }
    .about {
        flex-direction: column;
        margin: 40px 50px;
        gap: 40px;
    }
    .about-title h1 {
        font-size: 40px;
        padding: 0 10px;
    }
    .about-title h1:hover {
        font-size: 42px;
    }
    .about-sections {
        flex-direction: column;
        gap: 40px;
    }
    .about-right {
        gap: 40px;
    }
    .about-para {
        font-size: 18px;
        gap: 15px;
    }
    .about-skill p {
        font-size: 18px;
  
    }
   
    .about-achievements {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .about-achivement img {
        width: 80px;
        height: 80px;
        border: 3px solid;
    }
    .about-achivement img:hover {
        box-shadow: 0 0 5px 5px;
    }
    .about-achivement h1 {
        font-size: 40px;
    }
}




