.footer {
    background-color:rgb(27 20 41);;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 15px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons a {
    font-size: 28px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a.linkedin {
    color: #0077b5;
  }
  
  .social-icons a.github {
    color: #ffffff;
  }
  
  .social-icons a.mail {
    color: #ea4335;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
  