
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
  position: relative;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
  .logo{
  background:linear-gradient(264deg,#DF8908 -5.09%,#c770f0 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu li {
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-menu li p {
  margin: 0;
  
  font-size: 16px;
}

.nav-menu li:hover {
  color: #9b59b6;
}

.nav-menu li.active::after {
  content: "";
  position: absolute;
  left:0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #9b59b6;
  border-radius: 5px;
  transition: width 0.3s ease;
}


.nav-connect {
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #c770f0);
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-connect:hover {
  transform: scale(1.05);
}


.toggle-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color:white;
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 720px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav-menu li p {
    color: #DA7C25;
    margin:0px;
    font-size: 16px;
  }
  .nav-menu li p:hover {
    color: #9b59b6;
  }
  .navbar {
      margin: 20px 40px;
  }
.navbar h1
{
  font-size: 29px;
  color:white;
}
  .nav-menu {
    width: 100px;
     
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right:0;
      background-color: black;
      width: 200px;
      text-align: center;
      padding: 0px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px white;
  }

  .nav-menu.open {
      display: flex;
  }

  .toggle-button {
      display: block;
  }
  .nav-connect {
    padding: 6px 10px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #c770f0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    position:absolute;
    right: 55px;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-connect:hover {
    transform: scale(1.05);
  }
}


